* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', serif;
}

body {
    overflow: hidden;
    font-size: 24px;
}

p {
    width: 44vw;
    color: #fff;
}

.white-body {
    background-color: #fff;
}

.dark-body {
    background: #000;
}

.snow-blur {
    filter: blur(3px);
}

.circle-blur {
    filter: blur(85px);
    background-color: #000;
}

.blur {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

button {
    transition: all .5s ease;
    padding: 10px 30px;
    border-radius: 8px;
    font-size: 20px;
    color: #000;
    cursor: pointer;
    z-index: 1000;
    border: 2px solid #000;
}

.button-lightblue {
    background: linear-gradient(90deg, rgb(85, 237, 237) 0%, lightblue 50%, rgb(86, 238, 255) 100%);
    background-size: 200% 100%;
}


.button-purple {
    background: linear-gradient(90deg, purple 0%, rebeccapurple 50%, pink 100%);
    background-size: 200% 100%;
    border: none;
    color: #fff;
}

.button-yellow {
    background: linear-gradient(90deg, #fd8300 0%, yellow 50%, #ffca91 100%);
    background-size: 200% 100%;
}

button:hover {
    background-position: 100% 0;
}

.bulb {
    top: -40px;
    z-index: -1;
    position: absolute;
    width: 800px;
    height: 800px;
    border-radius: 50%;
    transition: all 10s ease;
}

.bulb1 {
    left: 0;
    background: linear-gradient(green, lightblue);
    animation: 10s linear infinite bulb1;
}

.bulb2 {
    background: linear-gradient(purple, lightpink);
    right: 0px;
    animation: 10s linear infinite bulb2;
}

.bulb3 {
    left: 0;
    background: linear-gradient(#fd8300, #ffca91);
    animation: 10s linear infinite bulb1;
}

.bulb4 {
    background: linear-gradient(yellow, rgb(255, 255, 144));
    right: 0px;
    animation: 10s linear infinite bulb2;
}

@keyframes bulb1 {
    0% {
        left: -100%;
    }
    100% {
        left: 110%
    }
}

@keyframes bulb2 {
    0% {
        right: -100%;
    }
    100% {
        right: 110%
    }
}

.arrow {
    display: inline-block;
    position: relative;
    width: 150px;
    padding: 20px;
}

.arrow-yellow {
    background-color: #f9ed70;
}

.arrow-lightblue {
    background-color: paleturquoise;
}

.arrow:before {
    content: "";
    position: absolute;
    right: 20px;
    top: 57%;
    transform: translateY(-50%);
    border: 5px solid transparent;
    border-top-color: #000;
}

select {
    position: absolute;
    top: 50%;
    left: 0;
    padding: 15px;
    width: 100%;
    appearance: none;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    outline: none;
    transform: translateY(-50%);
}

select, option {
    font-size: 15px;
}

label {
    border-radius: 5px;
}

.label-border {
    border: 2px solid;
}

.block1 {
    padding-top: 20px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.height  {
    height: 100vh;
}

.block1 > form {
    column-gap: 20px;
}

.cg {
    column-gap: 20px;
}

.block2 > .flex {
    column-gap: 20px;
}

p {
    position: relative;
    z-index: 1;
}

.zindex {
    position: relative;
    /* display: flex; */
    z-index: 0;
}

img {
    position: absolute;
    z-index: 0;
    top: -100px;
}

.svg {
    animation: coin 7s linear infinite;
    transition: all 7s ease;
}

.svg1 {
    width: 100px;
    height: 100px;
}
.svg2 {
    animation: coin 7s linear 2s infinite;
    width: 70px;
    height: 70px;
    left: 21%;
}
.svg3 {
    animation: coin 7s linear .5s infinite;
    width: 110px;
    height: 110px;
    left: 15%;
}
.svg4 {
    animation: coin 7s linear 4s infinite;
    width: 50px;
    height: 50px;
    right: 20%;
}
.svg5 {
    animation: coin 7s linear 1.5s infinite;
    width: 72px;
    height: 72px;
    left: 10%;
}
.svg6 {
    animation: coin 7s linear  3s infinite;
    width: 100px;
    height: 100px;
    right: 62%;
}
.svg7 {
    animation: coin 7s linear 4.8s infinite;
    width: 58px;
    height: 58px;
    left: 58%;
}
.svg8 {
    animation: coin 7s linear 5.3s infinite;
    width: 80px;
    height: 80px;
    right: 43%;
}

@keyframes coin {
    0% {
        transform: translateY(-150px) rotate(0);
    }
    100% {
        transform: translateY(1200px) rotate(-135deg);
    }
}

.white-body p {
    color: #000;
}